button{
    background-color: royalblue;
    border: none;
    margin: 100px 0 0 100px;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

button:hover{
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}